<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <beans>
        <bean name="strategyA" class="com.marketing.impl.StrategyA">

        </bean>

        <bean name="strategyB" class="com.marketing.impl.StrategyB">

        </bean>

        <bean name="springContextUtil" class="com.test.util.SpringContextUtil" lazy-init="false"></bean>
    </beans>

</beans>